/ProcesamientoCustodia/ProcesamientoCustodia-ear/target/
/ProcesamientoCustodia/ProcesamientoCustodia-ejb/target/
/ProcesamientoCredencial/ProcesamientoCredencial-ear/target/
/ProcesamientoCredencial/ProcesamientoCredencial-ejb/target/
/JavaFXCripto/build/
/JavaFXCripto/dist/